<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_42_Groupby_on_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dframe = pd.DataFrame({'k1':['X','X','Y','Y','Z'],
                       'k2':['alpha','beta','alpha','beta','alpha'],
                       'dataset1':np.random.randn(5),
                       'dataset2':np.random.randn(5)})

In [3]:
dframe

  k1     k2  dataset1  dataset2
0  X  alpha -1.552080  1.298328
1  X   beta  0.187047  0.140112
2  Y  alpha  1.422705 -1.425445
3  Y   beta -0.455076 -0.141012
4  Z  alpha -0.063600  0.046261

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [7]:
print(group1)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7ff58bb80650>

In [6]:
group1.mean()

k1
X   -0.682517
Y    0.483815
Z   -0.063600
Name: dataset1, dtype: float64

In [8]:
cities = np.array(['NY','LA','LA','NY','NY'])

month = np.array(['JAN',"FEB",'JAN','FEB','JAN'])

In [9]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.187047
    JAN    1.422705
NY  FEB   -0.455076
    JAN   -0.807840
Name: dataset1, dtype: float64

In [10]:
dframe

  k1     k2  dataset1  dataset2
0  X  alpha -1.552080  1.298328
1  X   beta  0.187047  0.140112
2  Y  alpha  1.422705 -1.425445
3  Y   beta -0.455076 -0.141012
4  Z  alpha -0.063600  0.046261

In [11]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.682517  0.719220
Y   0.483815 -0.783228
Z  -0.063600  0.046261

In [12]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.552080  1.298328
   beta   0.187047  0.140112
Y  alpha  1.422705 -1.425445
   beta  -0.455076 -0.141012
Z  alpha -0.063600  0.046261

In [13]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [14]:
dframe

  k1     k2  dataset1  dataset2
0  X  alpha -1.552080  1.298328
1  X   beta  0.187047  0.140112
2  Y  alpha  1.422705 -1.425445
3  Y   beta -0.455076 -0.141012
4  Z  alpha -0.063600  0.046261

In [16]:
for name,group in dframe.groupby('k1'):
  print ("this is the %s group" %name)
  print (group)
  print ('\n')

this is the X group
  k1     k2  dataset1  dataset2
0  X  alpha -1.552080  1.298328
1  X   beta  0.187047  0.140112


this is the Y group
  k1     k2  dataset1  dataset2
2  Y  alpha  1.422705 -1.425445
3  Y   beta -0.455076 -0.141012


this is the Z group
  k1     k2  dataset1  dataset2
4  Z  alpha   -0.0636  0.046261

In [18]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
  print('key1 = %s key2 = %s' %(k1,k2))
  print(group)
  print('\n')

key1 = X key2 = alpha
  k1     k2  dataset1  dataset2
0  X  alpha  -1.55208  1.298328


key1 = X key2 = beta
  k1    k2  dataset1  dataset2
1  X  beta  0.187047  0.140112


key1 = Y key2 = alpha
  k1     k2  dataset1  dataset2
2  Y  alpha  1.422705 -1.425445


key1 = Y key2 = beta
  k1    k2  dataset1  dataset2
3  Y  beta -0.455076 -0.141012


key1 = Z key2 = alpha
  k1     k2  dataset1  dataset2
4  Z  alpha   -0.0636  0.046261

In [19]:
group_dict = dict(list(dframe.groupby('k1')))

In [20]:
group_dict['X']

  k1     k2  dataset1  dataset2
0  X  alpha -1.552080  1.298328
1  X   beta  0.187047  0.140112

In [21]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [23]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.552080  1.298328
 1  0.187047  0.140112
 2  1.422705 -1.425445
 3 -0.455076 -0.141012
 4 -0.063600  0.046261, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [24]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset1']]
dataset2_group.mean()

          dataset1
k1 k2
X  alpha -1.552080
   beta   0.187047
Y  alpha  1.422705
   beta  -0.455076
Z  alpha -0.063600